
#headerContainer {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
    margin-top: 12px;
}

#arrowBack {
    font-size: 35px;
    color: white;
    margin-top: -10px;
}

#helpBttnHeader {
    height: 35px;
    width: 35px;
}


#miniLogo {
    width: 96px;
    height: 74.957px;
    flex-shrink: 0;

    position: absolute;
    left: 36%;
    top: 4%;
}