
#headerContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    align-items: center;
    position: fixed;
    top:61px;
    column-gap: 72px;
}

#arrowBack {
    font-size: 35px;
    color: white;
}

#helpBttnHeader {
    height: 35px;
    width: 35px;
    margin-right: 0px;
    grid-column: 3;
}

#miniLogo {
    width: 96px;
    height: 74.957px;
    flex-shrink: 0;
}