*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


#buttonContainer, #helpBttn, #logo {
    position: absolute;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 454px;
}

#helpBttn {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    align-self: end;
    top: 48px;
    right: 36px;
}

#logo {
    height: 200px;
    top: 191px;
   
}

#createBttn {
    margin-bottom: 187px;
}


#footer {
    display: flex;
    height: 54px;
    width: 100%;
    padding: 37px 105px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0px;

    background: rgba(0, 0, 0, 0.20);
}

#footerTxt {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
