@font-face {
    font-family: 'chewy';
    src: url('./static/fonts/Chewy/Chewy-Regular.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url("./static/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'cabinCondensed';
    src: url("./static/fonts/Cabin_Condensed/CabinCondensed-SemiBold.ttf");
}

/* body {
    background-color: pink;
} */


.button {
    font-family: 'chewy';
    color: white;
}

h2 {
    font-family: "montserrat";
    font-weight: bold;
    color: white;
}

.card p {
    font-family: "cabinCondensed";
    color: white;

}