/*@font-face {
    font-family: "RC-Bold";
    src: url(./fonts/RobotoCondensed-Bold.ttf);
  }*/


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    font-size: 24px;
    font-family: "chewy";
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

}



