/*@font-face {
    font-family: "RC-Bold";
    src: url(./fonts/RobotoCondensed-Bold.ttf);
  }*/


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    font-size: 16px;
    font-family: "chewy";
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;    
}


#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A90E2;
    /* background-image: url('../bakgrund.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#theme_container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 128px;
}




