#createForm {
    display: flex;
    flex-direction: column;
    margin-top: 132px;
    align-items: center;
}


#themeDisplay {
    width: 170px;
    margin-bottom: 37px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

#createGameTitle {
    align-self: center;
    text-shadow: 0.8px 0.64px 1.64px #000;
    margin-bottom: 16px;
}

#formCreateBttn {
    margin-top: 168px;
}

