h2 {
    color: white;
    margin-bottom: 32px;
}

#theme_container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: absolute;
    top:240px;
   
}

.themeButton {
    height: 60px;
    width: 322px;
    padding: 60px, 5px, 60px, 5px, 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border: white;
}

#nextBttn {
    position: absolute;
    top: 675px;

}

