#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 15px;  
}


#yourAvatarCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #D9D9D9;
    border: 2px solid white;
    border-radius: 5px;
    height: 150px;
    width: 110px;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    grid-column: 2;
    grid-row: 1;
}


#yourAvatarCard p {
    text-align: center;
    margin-top: 10px;
    font-family: "cabinCondensed";
}

#bttnContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.flipCard {
    perspective: 1000px;
    width: 80px;
    height: 109px;
    display: inline-block;
}


.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%; 
    transform-style: preserve-3d;
    transition: transform 0.6s;
}


.flipCardInner.flipped {
    transform: rotateY(180deg);
}


.frontCard, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.flipCardBack {
    /* background-color: rgb(158, 158, 158); */
    color: white;
    transform: rotateY(180deg);
    background-image: url('/static/media/bakgrund.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#cardLogo {
    height: 58px;
    flex-shrink: 0;
}


/* gussbutton */
.clicked {
    background-color: #203e00;
}

.highlighted {
    box-shadow: 0px 0px 5px white, 0px 0px 10px white;
}


/* chatt */
#chatContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    margin-top: 10px;
    width: 365px;
    justify-content: space-between;
    position: absolute;
    bottom: 28px;
}

#chat {
    margin: 0; 
}

textarea {
    flex-grow: 1; 
    width: 350px; 
    height: 35px; 
    padding: 8px; 
    font-size: 14px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    margin-right: 10px;
}

.btn {
    padding: 5px 10px; 
    font-size: 14px; 
    border: none; 
    border-radius: 5px; 
    height: 35px;
}

.yourAvatarCard img {
    height: 100px;
}

.yourAvatarCard p {
    height: 100px;
}

