

#codeDiv {
    font-family: 'chewy';
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #f5f5f5;
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 144px;
}

#codeDiv div {
    letter-spacing: 1.5px;
    -webkit-text-stroke: 0.1px black;
}

#copyToClipboardIcon {
    height: 30px;
    width: 30px;
   
}

#codeContainer {
    display: flex;
    gap: 8px;
}

#copyToClipboardIcon:active {
    transform: scale(0.9); 
}


#imageContainer {
    width: 150px;

    background-size: cover;
    background-position: center;

    position: absolute;
        top: 265px;
}

.theme_marvel {
    background-image: url(../../static/media/marvel/logo.png);
    height: 60px;
}

.theme_pixar {
    background-image: url(../../static/media/pixar/logo.png);
    height: 46px;
}

.theme_disney {
    background-image: url(../../static/media/disney/logo.png);
    height: 63px;
}

#playersDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: absolute;
        top: 362px;
}

#waitingForOpponent {
    font-family: 'chewy';
    font-size: 32px;
    text-transform: inherit;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    
}

#loadingCircle 
    {
        width: 87px;
        height: 87px;
        border: 13px solid rgba(0, 0, 0, 0.3); 
        border-top: 13px solid #000; 
        border-radius: 100%; 
        animation: spin 1s linear infinite; 


      }


      @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }

      }




